extends layout

block content
    .content
      .container.debug
        .row-fluid.debug
          .span10.debug
              .page-header
              - var chapter = chapters[active];
                h3 #{chapter.pos} #{chapter.title}
              .row-fluid
                .span8.offset1.chapter-content.debug
                  p !{chapter.content}
              .row-fluid
                h1 #{++active}
                if(active<(chapters.length))
                  .span8.offset1.chapters-next.debug
                    //h1 #{chapter.id} #{(chapters.length)}
                    h5 Следующая статья:
                      ul
                        li
                          a(href='../order/#{active}') #{chapters[active].title}
          .span2.debug
