extends layout

block content
    .content
      .container.debug
        .row-fluid.debug
          .span10.debug
              .page-header
              - var chapter = chapters[active];
                h3 #{active}. #{chapter.name}
              .row-fluid
                .chapter-content.debug(style='padding-right:3em')
                  p !{chapter.content}
              .row-fluid
                - var next=parseInt(active)+1;
                if(chapters[next])
                  .span8.offset1.chapters-next.debug
                    h5 Следующая статья:
                      ul
                        li
                          a(href='../help/#{next}') #{next}. #{chapters[next].name}
          .span2.debug
