extends layout

block content

    .content
      .container
        airticle.article
          .row.bottom-space
            .span12
              .page-header
                - console.log(cur);
                h1 #{products[cur-1].name}
                  small
                    |  #{products[cur-1].subname}
            .span12.center-align
              img(src="#{products[cur-1].photo_big}" class="thumbnail product-snap")
          .row
            .span10.offset1
              | #{products[cur-1].detailed}
              .span8.offset1
                h3 лечебные свойства:
                ul.features
                each feature in products[cur-1].features
                  li
                    i.icon-ok
                    | #{feature.name} #{feature.desc}
          .row-fluid
            .span12
            .span2
              h4
                i.icon-plus-sign
                |  Масса: #{products[cur-1].package}
            .span3
              h4
                i.icon-plus-sign
                |  Цена: #{products[cur-1].price} руб.
            .span3
              if session.auth
                form(action='../order-controller')
                  input(id='foo', type='text', value='', data-slider-min='1', data-slider-max='10', data-slider-step='1', data-slider-value='1', data-slider-orientation='horizontal', data-slider-selection='after', data-slider-tooltip='show')
                  hr
                  label(for='bar') Количество:
                  input.span2(id='bar', type='text')
                h4
                  a(class="btn btn-large btn-block" href="#") Готово
              else
                h4 Для оформления заказа вам необходимо
                  a(href="/sign_in")  войти

    block js_content