extends layout

block content
  

    .content    
      .container
        airticle.article
          .row.bottom-space
            .span12
              .page-header
                - console.log(cur);
                h1 #{products[cur-1].name}
                  small
                    |  #{products[cur-1].subname}
            .span12.center-align
              img(src="#{products[cur-1].photo_big}" class="thumbnail product-snap")
          .row
            .span10.offset1
              | #{products[cur-1].detailed}
              .span8.offset1
                h3 лечебные свойства:
                ul.features
                each feature in products[cur-1].features
                  li
                    i.icon-ok
                    | #{feature.name} #{feature.desc}
          .row-fluid
            .span12
            .span2
              h4
                i.icon-plus-sign
                |  Масса: #{products[cur-1].package}
            .span3
              h4
                i.icon-plus-sign
                |  Цена: #{products[cur-1].price} руб.
            .span3
              h4
              if session.auth
                a(class="btn btn-large btn-block" href="/order/#{cur}") Оформить заказ
              else
                h4 Для оформления заказа вам необходимо
                  a(href="/sign_in")  войти
